# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [2]:
import pandas as pd

In [3]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Tue_Dec_28_10:15:06_EST_2021.xlsx'

In [4]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [5]:
# number of sheets
len(doc_data)

8

In [6]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [7]:
cases_df = doc_data['Inmate New Cases History']

In [8]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,2021-12-21,0,0,0,2,0,0,0,0,0,...,0,2,0,2,0,0,9,0,0,16
493,2021-12-22,0,0,0,2,0,0,0,0,0,...,2,0,0,0,0,1,5,0,0,10
494,2021-12-23,0,0,0,0,0,0,0,1,0,...,0,3,0,1,0,0,3,0,0,9
495,2021-12-24,0,0,0,0,0,0,0,4,0,...,0,1,2,0,0,1,0,0,0,8
496,2021-12-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,2

In [9]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

             date      SCI  incarcerated_person_positive
0      2020-03-28   Albion                             0
1      2020-03-31   Albion                             0
2      2020-04-03   Albion                             0
3      2020-04-04   Albion                             0
4      2020-04-07   Albion                             0
...           ...      ...                           ...
12420  2021-12-21  Waymart                             0
12421  2021-12-22  Waymart                             0
12422  2021-12-23  Waymart                             0
12423  2021-12-24  Waymart                             0
12424  2021-12-27  Waymart                             0

[12425 rows x 3 columns]

In [10]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [11]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2005,1,821,4,5318,1116,21.0%,4202,79.0%,121,6.0%,6,0.3%,1878,93.7%
1,BENNER,1723,2,367,10,3710,409,11.0%,3301,89.0%,190,11.0%,9,0.5%,1524,88.5%
2,CAMBRIDGE SPRINGS,832,0,735,1,5093,1208,23.7%,3885,76.3%,59,7.1%,13,1.6%,760,91.3%
3,CAMP HILL,2081,12,790,5,20639,824,4.0%,19815,96.0%,287,13.8%,73,3.5%,1721,82.7%
4,CHESTER,1064,0,318,13,3992,326,8.2%,3666,91.8%,84,7.9%,8,0.8%,972,91.4%
5,COAL TOWNSHIP,1523,1,610,3,11023,802,7.3%,10221,92.7%,97,6.4%,12,0.8%,1414,92.8%
6,DALLAS,1758,0,1297,11,9374,1469,15.7%,7905,84.3%,43,2.4%,1,0.1%,1714,97.5%
7,FAYETTE,1969,7,128,6,2718,136,5.0%,2582,95.0%,267,13.6%,13,0.7%,1689,85.8%
8,FOREST,2178,1,1009,6,4507,1120,24.9%,3387,75.1%,133,6.1%,10,0.5%,2035,93.4%
9,FRACKVILLE,1003,0,136,1,3037,150,4.9%,2887,95.1%,86,8.6%,12,1.2%,905,90.2%
10,GREENE,1464,1,253,1,5462,301,5.5%,5161,94.5%,203,13.9%,6,0.4%,1255,85.7%
11,HOUTZDALE,2283,0,265,3,2310,343,14.8%,1967,85.2%,84,3.7%,6,0.3%,2193,96.1%
12,HUNTINGDON,1577,0,316,8,2834,326,11.5%,2508,88.5%,86,5.5%,5,0.3%,1486,94.2%
13,LAUREL HIGHLANDS,1134,21,594,15,7911,664,8.4%,7247,91.6%,58,5.1%,0,0.0%,1076,94.9%
14,MAHANOY,2090,0,430,6,5493,617,11.2%,4876,88.8%,115,5.5%,6,0.3%,1969,94.2%
15,MERCER,906,0,250,6,2066,269,13.0%,1797,87.0%,47,5.2%,3,0.3%,856,94.5%
16,MUNCY,999,3,509,1,8605,678,7.9%,7927,92.1%,123,12.3%,69,6.9%,807,80.8%
17,PHOENIX,2868,9,285,17,8065,300,3.7%,7765,96.3%,278,9.7%,37,1.3%,2553,89.0%
18,PINE GROVE,893,4,190,1,1323,192,14.5%,1131,85.5%,136,15.2%,5,0.6%,752,84.2%
19,QUEHANNA,433,9,268,0,1843,273,14.8%,1570,85.2%,62,14.3%,5,1.2%,366,84.5%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1751,29,172,2,2612,178,6.8%,2434,93.2%,62,3.5%,0,0.0%,1689,96.5%
22,SMITHFIELD,1291,51,1279,6,59932,1471,2.5%,58461,97.5%,439,34.0%,119,9.2%,733,56.8%
23,SOMERSET,1904,0,652,4,8533,857,10.0%,7676,90.0%,113,5.9%,7,0.4%,1784,93.7%
24,WAYMART,788,0,847,16,8540,1514,17.7%,7026,82.3%,31,3.9%,1,0.1%,756,95.9%
25,TOTAL,36517,151,12529,146,195868,15551,7.9%,180317,92.1%,3204,8.8%,426,1.2%,32887,90.1%

In [12]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [13]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [14]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [15]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [16]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [17]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [18]:
!git commit -m 'latest dashboard data'
!git push

[main e6e144f] latest dashboard data
 2 files changed, 107 insertions(+), 32 deletions(-)
 rewrite data/latest_data/PA_DOC_dashboard_latest.csv (83%)
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 1.64 KiB | 559.00 KiB/s, done.
Total 6 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), completed with 4 local objects.
To github.com:jmparelman/PA-SCI_COVID19.git
   671e055..e6e144f  main -> main

In [19]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1751,29,172,2,9,362
22,Smithfield,1291,51,1279,6,4,273
23,Somerset,1904,0,652,4,11,301
24,Waymart,788,0,847,16,2,305