# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [1]:
import pandas as pd

In [2]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Mon_Nov_15_14:15:20_EST_2021.xlsx'

In [3]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [4]:
# number of sheets
len(doc_data)

8

In [5]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [6]:
cases_df = doc_data['Inmate New Cases History']

In [7]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2021-11-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
449,2021-11-06,0,0,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,3
450,2021-11-07,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
451,2021-11-08,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
452,2021-11-09,0,18,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,21

In [8]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

             date      SCI  incarcerated_person_positive
0      2020-03-28   Albion                             0
1      2020-03-31   Albion                             0
2      2020-04-03   Albion                             0
3      2020-04-04   Albion                             0
4      2020-04-07   Albion                             0
...           ...      ...                           ...
11320  2021-11-05  Waymart                             0
11321  2021-11-06  Waymart                             0
11322  2021-11-07  Waymart                             0
11323  2021-11-08  Waymart                             0
11324  2021-11-09  Waymart                             0

[11325 rows x 3 columns]

In [9]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [10]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2063,0,735,4,4794,1027,21.4%,3767,78.6%,124,6.0%,12,0.6%,1927,93.4%
1,BENNER,1804,18,271,8,3178,311,9.8%,2867,90.2%,203,11.3%,16,0.9%,1585,87.9%
2,CAMBRIDGE SPRINGS,859,19,720,1,4588,1187,25.9%,3401,74.1%,61,7.1%,9,1.0%,789,91.9%
3,CAMP HILL,2028,10,766,4,19377,792,4.1%,18585,95.9%,306,15.1%,50,2.5%,1672,82.4%
4,CHESTER,1076,2,318,12,3854,325,8.4%,3529,91.6%,89,8.3%,9,0.8%,978,90.9%
5,COAL TOWNSHIP,1561,0,526,3,10522,718,6.8%,9804,93.2%,93,6.0%,5,0.3%,1463,93.7%
6,DALLAS,1749,0,1279,11,9106,1451,15.9%,7655,84.1%,42,2.4%,1,0.1%,1706,97.5%
7,FAYETTE,1942,0,113,5,2319,119,5.1%,2200,94.9%,250,12.9%,21,1.1%,1671,86.0%
8,FOREST,2233,0,1001,6,4332,1111,25.6%,3221,74.4%,140,6.3%,14,0.6%,2079,93.1%
9,FRACKVILLE,950,0,131,1,2800,145,5.2%,2655,94.8%,67,7.1%,6,0.6%,877,92.3%
10,GREENE,1584,4,231,1,4979,279,5.6%,4700,94.4%,225,14.2%,5,0.3%,1354,85.5%
11,HOUTZDALE,2281,0,262,3,2116,340,16.1%,1776,83.9%,65,2.8%,2,0.1%,2214,97.1%
12,HUNTINGDON,1641,0,315,8,2704,325,12.0%,2379,88.0%,94,5.7%,9,0.5%,1538,93.7%
13,LAUREL HIGHLANDS,1110,0,537,15,7179,605,8.4%,6574,91.6%,68,6.1%,1,0.1%,1041,93.8%
14,MAHANOY,2128,0,418,6,5137,604,11.8%,4533,88.2%,133,6.3%,3,0.1%,1992,93.6%
15,MERCER,937,0,250,6,1982,269,13.6%,1713,86.4%,49,5.2%,6,0.6%,882,94.1%
16,MUNCY,996,0,499,1,8093,665,8.2%,7428,91.8%,162,16.3%,72,7.2%,762,76.5%
17,PHOENIX,2862,0,264,17,7777,276,3.5%,7501,96.5%,289,10.1%,16,0.6%,2557,89.3%
18,PINE GROVE,894,2,162,1,1165,164,14.1%,1001,85.9%,130,14.5%,5,0.6%,759,84.9%
19,QUEHANNA,454,0,228,0,1629,231,14.2%,1398,85.8%,68,15.0%,4,0.9%,382,84.1%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1703,0,135,2,2152,141,6.6%,2011,93.4%,61,3.6%,0,0.0%,1642,96.4%
22,SMITHFIELD,1085,15,1129,6,51614,1309,2.5%,50305,97.5%,446,41.1%,39,3.6%,600,55.3%
23,SOMERSET,1935,0,628,4,8278,833,10.1%,7445,89.9%,119,6.1%,9,0.5%,1807,93.4%
24,WAYMART,729,0,846,16,8448,1512,17.9%,6936,82.1%,36,4.9%,6,0.8%,687,94.2%
25,TOTAL,36604,70,11772,141,179051,14747,8.2%,164304,91.8%,3320,9.1%,320,0.9%,32964,90.1%

In [11]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [12]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [13]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [14]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [15]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [16]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [17]:
!git commit -m 'latest dashboard data'
!git push

[main ad6f15b] latest dashboard data
 2 files changed, 328 insertions(+), 28 deletions(-)
 rewrite data/latest_data/PA_DOC_dashboard_latest.csv (87%)
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 2.62 KiB | 892.00 KiB/s, done.
Total 6 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), completed with 4 local objects.
To github.com:jmparelman/PA-SCI_COVID19.git
   b626bae..ad6f15b  main -> main

In [18]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1703,0,135,2,6,309
22,Smithfield,1085,15,1129,6,3,243
23,Somerset,1935,0,628,4,12,269
24,Waymart,729,0,846,16,1,281