# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [2]:
import pandas as pd

In [3]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Fri_Oct_29_11:27:59_EDT_2021.xlsx'

In [4]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [5]:
# number of sheets
len(doc_data)

8

In [6]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [7]:
cases_df = doc_data['Inmate New Cases History']

In [8]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2021-10-21,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,2,0,0,5
437,2021-10-22,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,4
438,2021-10-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
439,2021-10-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
440,2021-10-26,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,2,0,0,0,6

In [9]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

             date      SCI  incarcerated_person_positive
0      2020-03-28   Albion                             0
1      2020-03-31   Albion                             0
2      2020-04-03   Albion                             0
3      2020-04-04   Albion                             0
4      2020-04-07   Albion                             0
...           ...      ...                           ...
11020  2021-10-21  Waymart                             0
11021  2021-10-22  Waymart                             0
11022  2021-10-23  Waymart                             0
11023  2021-10-25  Waymart                             0
11024  2021-10-26  Waymart                             0

[11025 rows x 3 columns]

In [10]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [11]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2060,0,735,4,4735,1027,21.7%,3708,78.3%,2060,100.0%,0,0.0%,0,0.0%
1,BENNER,1825,0,253,8,3098,293,9.5%,2805,90.5%,1825,100.0%,0,0.0%,0,0.0%
2,CAMBRIDGE SPRINGS,862,1,700,1,4404,1164,26.4%,3240,73.6%,862,100.0%,0,0.0%,0,0.0%
3,CAMP HILL,2000,1,756,4,18912,781,4.1%,18131,95.9%,2000,100.0%,0,0.0%,0,0.0%
4,CHESTER,1057,0,316,12,3745,323,8.6%,3422,91.4%,1057,100.0%,0,0.0%,0,0.0%
5,COAL TOWNSHIP,1585,0,526,3,10446,718,6.9%,9728,93.1%,1585,100.0%,0,0.0%,0,0.0%
6,DALLAS,1695,0,1279,11,9067,1451,16.0%,7616,84.0%,1695,100.0%,0,0.0%,0,0.0%
7,FAYETTE,1920,0,113,5,2268,119,5.2%,2149,94.8%,1920,100.0%,0,0.0%,0,0.0%
8,FOREST,2260,0,1001,6,4287,1111,25.9%,3176,74.1%,2260,100.0%,0,0.0%,0,0.0%
9,FRACKVILLE,952,12,131,1,2766,145,5.2%,2621,94.8%,952,100.0%,0,0.0%,0,0.0%
10,GREENE,1599,10,225,1,4798,273,5.7%,4525,94.3%,1599,100.0%,0,0.0%,0,0.0%
11,HOUTZDALE,2291,3,262,3,2073,340,16.4%,1733,83.6%,2291,100.0%,0,0.0%,0,0.0%
12,HUNTINGDON,1658,2,315,8,2670,325,12.2%,2345,87.8%,1658,100.0%,0,0.0%,0,0.0%
13,LAUREL HIGHLANDS,1115,0,537,15,7129,605,8.5%,6524,91.5%,1115,100.0%,0,0.0%,0,0.0%
14,MAHANOY,2127,0,418,6,5094,604,11.9%,4490,88.1%,2127,100.0%,0,0.0%,0,0.0%
15,MERCER,962,0,250,6,1943,269,13.8%,1674,86.2%,962,100.0%,0,0.0%,0,0.0%
16,MUNCY,982,3,499,1,7936,665,8.4%,7271,91.6%,982,100.0%,0,0.0%,0,0.0%
17,PHOENIX,2833,0,264,17,7615,276,3.6%,7339,96.4%,2833,100.0%,0,0.0%,0,0.0%
18,PINE GROVE,888,4,160,1,1131,162,14.3%,969,85.7%,888,100.0%,0,0.0%,0,0.0%
19,QUEHANNA,457,0,228,0,1588,231,14.5%,1357,85.5%,457,100.0%,0,0.0%,0,0.0%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1672,3,135,2,2099,141,6.7%,1958,93.3%,1672,100.0%,0,0.0%,0,0.0%
22,SMITHFIELD,1122,26,1112,6,49965,1287,2.6%,48678,97.4%,1122,100.0%,0,0.0%,0,0.0%
23,SOMERSET,1953,0,628,4,8219,833,10.1%,7386,89.9%,1953,100.0%,0,0.0%,0,0.0%
24,WAYMART,735,0,846,16,8408,1512,18.0%,6896,82.0%,735,100.0%,0,0.0%,0,0.0%
25,TOTAL,36610,65,11697,141,175324,14663,8.4%,160661,91.6%,36610,100.0%,0,0.0%,0,0.0%

In [12]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [13]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [14]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [15]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [16]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [17]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [18]:
!git commit -m 'latest dashboard data'
!git push

[main e4b98ba] latest dashboard data
 2 files changed, 827 insertions(+), 27 deletions(-)
 rewrite data/latest_data/PA_DOC_dashboard_latest.csv (87%)
Enumerating objects: 17, done.
Counting objects: 100% (17/17), done.
Delta compression using up to 8 threads
Compressing objects: 100% (10/10), done.
Writing objects: 100% (10/10), 8.48 KiB | 2.12 MiB/s, done.
Total 10 (delta 7), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (7/7), completed with 6 local objects.
To github.com:jmparelman/PA-SCI_COVID19.git
   524bd34..e4b98ba  main -> main

In [19]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1672,3,135,2,0,301
22,Smithfield,1122,26,1112,6,2,241
23,Somerset,1953,0,628,4,8,254
24,Waymart,735,0,846,16,0,276