# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [2]:
import pandas as pd

In [3]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Mon_Jan__3_11:26:51_EST_2022.xlsx'

In [4]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [5]:
# number of sheets
len(doc_data)

8

In [6]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [7]:
cases_df = doc_data['Inmate New Cases History']

In [8]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,2021-12-22,0,0,0,2,0,0,0,0,0,...,2,0,0,0,0,1,5,0,0,10
494,2021-12-23,0,0,0,0,0,1,0,1,0,...,0,3,0,1,0,0,4,0,0,11
495,2021-12-24,0,1,0,0,0,0,0,4,0,...,0,1,2,0,0,1,0,0,0,10
496,2021-12-27,0,0,0,2,0,1,0,0,0,...,0,0,1,0,0,0,9,0,0,13
497,2021-12-28,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,13

In [9]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

             date      SCI  incarcerated_person_positive
0      2020-03-28   Albion                             0
1      2020-03-31   Albion                             0
2      2020-04-03   Albion                             0
3      2020-04-04   Albion                             0
4      2020-04-07   Albion                             0
...           ...      ...                           ...
12445  2021-12-22  Waymart                             0
12446  2021-12-23  Waymart                             0
12447  2021-12-24  Waymart                             0
12448  2021-12-27  Waymart                             0
12449  2021-12-28  Waymart                             0

[12450 rows x 3 columns]

In [10]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [11]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2001,0,821,4,5323,1116,21.0%,4207,79.0%,122,6.1%,6,0.3%,1873,93.6%
1,BENNER,1719,3,368,10,3712,410,11.0%,3302,89.0%,190,11.1%,9,0.5%,1520,88.4%
2,CAMBRIDGE SPRINGS,829,0,735,1,5095,1208,23.7%,3887,76.3%,58,7.0%,12,1.4%,759,91.6%
3,CAMP HILL,2109,12,793,5,20746,827,4.0%,19919,96.0%,301,14.3%,76,3.6%,1732,82.1%
4,CHESTER,1080,0,318,13,4000,326,8.2%,3674,91.8%,84,7.8%,10,0.9%,986,91.3%
5,COAL TOWNSHIP,1532,3,612,3,11052,805,7.3%,10247,92.7%,106,6.9%,18,1.2%,1408,91.9%
6,DALLAS,1758,0,1297,11,9393,1469,15.6%,7924,84.4%,46,2.6%,1,0.1%,1711,97.3%
7,FAYETTE,1965,6,128,6,2728,137,5.0%,2591,95.0%,263,13.4%,13,0.7%,1689,86.0%
8,FOREST,2174,1,1009,6,4518,1120,24.8%,3398,75.2%,130,6.0%,12,0.6%,2032,93.5%
9,FRACKVILLE,1006,0,136,1,3039,150,4.9%,2889,95.1%,88,8.7%,13,1.3%,905,90.0%
10,GREENE,1454,1,253,1,5475,301,5.5%,5174,94.5%,206,14.2%,6,0.4%,1242,85.4%
11,HOUTZDALE,2281,0,265,3,2318,343,14.8%,1975,85.2%,75,3.3%,13,0.6%,2193,96.1%
12,HUNTINGDON,1578,0,316,8,2836,326,11.5%,2510,88.5%,86,5.4%,5,0.3%,1487,94.2%
13,LAUREL HIGHLANDS,1128,10,602,15,8075,672,8.3%,7403,91.7%,59,5.2%,0,0.0%,1069,94.8%
14,MAHANOY,2090,1,431,6,5496,618,11.2%,4878,88.8%,113,5.4%,6,0.3%,1971,94.3%
15,MERCER,907,1,251,6,2069,270,13.0%,1799,87.0%,46,5.1%,3,0.3%,858,94.6%
16,MUNCY,994,3,509,1,8628,678,7.9%,7950,92.1%,119,12.0%,68,6.8%,807,81.2%
17,PHOENIX,2871,7,285,17,8067,300,3.7%,7767,96.3%,274,9.5%,36,1.3%,2561,89.2%
18,PINE GROVE,892,4,191,1,1329,193,14.5%,1136,85.5%,136,15.2%,5,0.6%,751,84.2%
19,QUEHANNA,432,7,268,0,1843,273,14.8%,1570,85.2%,63,14.6%,5,1.2%,364,84.3%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1745,27,172,2,2621,178,6.8%,2443,93.2%,61,3.5%,0,0.0%,1684,96.5%
22,SMITHFIELD,1293,54,1290,6,60396,1487,2.5%,58909,97.5%,431,33.3%,132,10.2%,730,56.5%
23,SOMERSET,1902,0,652,4,8537,857,10.0%,7680,90.0%,112,5.9%,7,0.4%,1783,93.7%
24,WAYMART,785,0,847,16,8544,1514,17.7%,7030,82.3%,31,3.9%,1,0.1%,753,95.9%
25,TOTAL,36525,140,12557,146,196768,15586,7.9%,181182,92.1%,3200,8.8%,457,1.3%,32868,90.0%

In [12]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [13]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [14]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [15]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [16]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [17]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [18]:
!git commit -m 'latest dashboard data'
!git push

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Mon_Jan__3_11:26:51_EST_2022.xlsx
	../data/latest_data/Daily_Populations_aggregated_TEST.csv
	analysis_of_SCI_population_turnover.ipynb
	convert_scraped_data.ipynb
	looking_at_testing_purpose.ipynb
	../plot_exploration/
	../predashboard.html
	../scripts/tenv/
	../scripts/test.csv

nothing added to commit but untracked files present (use "git add" to track)
Everything up-to-date

In [19]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1745,27,172,2,16,372
22,Smithfield,1293,54,1290,6,6,276
23,Somerset,1902,0,652,4,12,303
24,Waymart,785,0,847,16,2,305