# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [1]:
import pandas as pd

In [2]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Wed_Sep_22_13:56:42_EDT_2021.xlsx'

In [3]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [4]:
# number of sheets
len(doc_data)

8

In [5]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [6]:
cases_df = doc_data['Inmate New Cases History']

In [7]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2021-09-16,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,3,0,0,7
405,2021-09-17,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4
406,2021-09-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
407,2021-09-19,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,2
408,2021-09-20,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [8]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

             date      SCI  incarcerated_person_positive
0      2020-03-28   Albion                             0
1      2020-03-31   Albion                             0
2      2020-04-03   Albion                             0
3      2020-04-04   Albion                             0
4      2020-04-07   Albion                             0
...           ...      ...                           ...
10220  2021-09-16  Waymart                             0
10221  2021-09-17  Waymart                             0
10222  2021-09-18  Waymart                             0
10223  2021-09-19  Waymart                             0
10224  2021-09-20  Waymart                             0

[10225 rows x 3 columns]

In [9]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [10]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2090,0,734,4,4576,1025,22.4%,3551,77.6%,104,5.0%,9,0.4%,1977,94.6%
1,BENNER,1858,1,248,8,2872,288,10.0%,2584,90.0%,218,11.7%,3,0.2%,1637,88.1%
2,CAMBRIDGE SPRINGS,870,1,698,1,4151,1162,28.0%,2989,72.0%,64,7.4%,15,1.7%,791,90.9%
3,CAMP HILL,2256,10,740,4,17712,763,4.3%,16949,95.7%,347,15.4%,30,1.3%,1879,83.3%
4,CHESTER,1048,74,313,12,3604,320,8.9%,3284,91.1%,83,7.9%,1,0.1%,964,92.0%
5,COAL TOWNSHIP,1630,0,525,3,10224,717,7.0%,9507,93.0%,82,5.0%,27,1.7%,1521,93.3%
6,DALLAS,1624,0,1279,11,8952,1451,16.2%,7501,83.8%,54,3.3%,0,0.0%,1570,96.7%
7,FAYETTE,1886,0,113,5,2130,119,5.6%,2011,94.4%,218,11.6%,2,0.1%,1666,88.3%
8,FOREST,2294,0,1001,6,4147,1111,26.8%,3036,73.2%,137,6.0%,5,0.2%,2152,93.8%
9,FRACKVILLE,984,0,116,1,2494,127,5.1%,2367,94.9%,74,7.5%,9,0.9%,901,91.6%
10,GREENE,1706,4,192,1,4112,238,5.8%,3874,94.2%,219,12.8%,6,0.4%,1481,86.8%
11,HOUTZDALE,2314,2,259,3,1831,337,18.4%,1494,81.6%,62,2.7%,12,0.5%,2240,96.8%
12,HUNTINGDON,1710,0,313,8,2522,323,12.8%,2199,87.2%,107,6.3%,11,0.6%,1592,93.1%
13,LAUREL HIGHLANDS,953,0,536,15,7024,604,8.6%,6420,91.4%,72,7.6%,4,0.4%,877,92.0%
14,MAHANOY,2170,1,418,6,4912,603,12.3%,4309,87.7%,134,6.2%,2,0.1%,2034,93.7%
15,MERCER,993,2,250,6,1861,269,14.5%,1592,85.5%,42,4.2%,3,0.3%,948,95.5%
16,MUNCY,956,2,490,1,7478,656,8.8%,6822,91.2%,155,16.2%,41,4.3%,760,79.5%
17,PHOENIX,2847,1,263,17,7330,275,3.8%,7055,96.2%,254,8.9%,12,0.4%,2581,90.7%
18,PINE GROVE,915,0,156,1,1048,158,15.1%,890,84.9%,113,12.3%,2,0.2%,800,87.4%
19,QUEHANNA,398,0,228,0,1524,231,15.2%,1293,84.8%,69,17.3%,4,1.0%,325,81.7%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1545,0,132,2,1804,137,7.6%,1667,92.4%,65,4.2%,4,0.3%,1476,95.5%
22,SMITHFIELD,1106,17,1047,6,44607,1207,2.7%,43400,97.3%,410,37.1%,24,2.2%,672,60.8%
23,SOMERSET,1961,1,628,4,8030,833,10.4%,7197,89.6%,109,5.6%,1,0.1%,1851,94.4%
24,WAYMART,743,0,845,16,8302,1511,18.2%,6791,81.8%,49,6.6%,1,0.1%,693,93.3%
25,TOTAL,36857,116,11532,141,164175,14473,8.8%,149702,91.2%,3241,8.8%,228,0.6%,33388,90.6%

In [11]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [12]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [13]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [14]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [15]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [16]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [17]:
!git commit -m 'latest dashboard data'
!git push

[main 524bd34] latest dashboard data
 2 files changed, 257 insertions(+), 32 deletions(-)
 rewrite data/latest_data/PA_DOC_dashboard_latest.csv (87%)
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 2.22 KiB | 1.11 MiB/s, done.
Total 6 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), completed with 4 local objects.
To github.com:jmparelman/PA-SCI_COVID19.git
   5a15cba..524bd34  main -> main

In [174]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1501,0,132,2,5,274
22,Smithfield,1105,12,1034,6,1,219
23,Somerset,1936,0,627,4,5,224
24,Waymart,740,0,845,16,4,265