# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [54]:
import pandas as pd

In [176]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Tue_Sep_14_11:39:49_EDT_2021.xlsx'

In [177]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [178]:
# number of sheets
len(doc_data)

8

In [179]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [180]:
cases_df = doc_data['Inmate New Cases History']

In [181]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2021-09-07,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,5
396,2021-09-08,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,3,0,0,7
397,2021-09-09,0,0,0,0,6,0,0,0,0,...,1,0,0,0,0,0,2,0,0,9
398,2021-09-10,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
399,2021-09-11,0,0,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11

In [183]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

            date      SCI  incarcerated_person_positive
0     2020-03-28   Albion                             0
1     2020-03-31   Albion                             0
2     2020-04-03   Albion                             0
3     2020-04-04   Albion                             0
4     2020-04-07   Albion                             0
...          ...      ...                           ...
9995  2021-09-07  Waymart                             0
9996  2021-09-08  Waymart                             0
9997  2021-09-09  Waymart                             0
9998  2021-09-10  Waymart                             0
9999  2021-09-11  Waymart                             0

[10000 rows x 3 columns]

In [184]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [185]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2089,0,734,4,4543,1025,22.6%,3518,77.4%,97,4.6%,5,0.2%,1987,95.1%
1,BENNER,1856,1,247,8,2832,287,10.1%,2545,89.9%,216,11.6%,2,0.1%,1638,88.3%
2,CAMBRIDGE SPRINGS,872,0,697,1,4115,1160,28.2%,2955,71.8%,63,7.2%,18,2.1%,791,90.7%
3,CAMP HILL,2363,5,733,4,17447,755,4.3%,16692,95.7%,440,18.6%,25,1.1%,1898,80.3%
4,CHESTER,1063,32,258,12,3419,264,7.7%,3155,92.3%,83,7.8%,2,0.2%,978,92.0%
5,COAL TOWNSHIP,1654,0,525,3,10182,717,7.0%,9465,93.0%,78,4.7%,71,4.3%,1505,91.0%
6,DALLAS,1582,0,1279,11,8928,1451,16.3%,7477,83.7%,56,3.5%,0,0.0%,1526,96.5%
7,FAYETTE,1877,0,113,5,2101,119,5.7%,1982,94.3%,235,12.5%,2,0.1%,1640,87.4%
8,FOREST,2285,0,1001,6,4123,1111,26.9%,3012,73.1%,124,5.4%,3,0.1%,2158,94.4%
9,FRACKVILLE,991,0,116,1,2462,127,5.2%,2335,94.8%,72,7.3%,10,1.0%,909,91.7%
10,GREENE,1693,4,189,1,4031,235,5.8%,3796,94.2%,226,13.3%,7,0.4%,1460,86.2%
11,HOUTZDALE,2292,0,257,3,1809,335,18.5%,1474,81.5%,57,2.5%,10,0.4%,2225,97.1%
12,HUNTINGDON,1722,0,313,8,2494,323,13.0%,2171,87.0%,108,6.3%,11,0.6%,1603,93.1%
13,LAUREL HIGHLANDS,940,0,536,15,6995,604,8.6%,6391,91.4%,75,8.0%,4,0.4%,861,91.6%
14,MAHANOY,2160,4,417,6,4874,602,12.4%,4272,87.6%,114,5.3%,6,0.3%,2040,94.4%
15,MERCER,998,0,248,6,1814,267,14.7%,1547,85.3%,42,4.2%,2,0.2%,954,95.6%
16,MUNCY,975,1,489,1,7394,655,8.9%,6739,91.1%,164,16.8%,43,4.4%,768,78.8%
17,PHOENIX,2844,1,262,17,6890,274,4.0%,6616,96.0%,264,9.3%,3,0.1%,2577,90.6%
18,PINE GROVE,923,0,156,1,1035,158,15.3%,877,84.7%,126,13.7%,1,0.1%,796,86.2%
19,QUEHANNA,390,0,228,0,1481,231,15.6%,1250,84.4%,68,17.4%,3,0.8%,319,81.8%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1520,0,132,2,1781,137,7.7%,1644,92.3%,65,4.3%,4,0.3%,1451,95.5%
22,SMITHFIELD,1101,14,1038,6,43516,1196,2.7%,42320,97.3%,417,37.9%,25,2.3%,659,59.9%
23,SOMERSET,1947,0,627,4,7735,832,10.8%,6903,89.2%,107,5.5%,0,0.0%,1840,94.5%
24,WAYMART,743,0,845,16,8291,1511,18.2%,6780,81.8%,53,7.1%,2,0.3%,688,92.6%
25,TOTAL,36880,62,11448,141,161220,14384,8.9%,146836,91.1%,3350,9.1%,259,0.7%,33271,90.2%

In [186]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [187]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [188]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [189]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)

In [190]:
pwd

'/Users/mattodonnell/files/PA-SCI_COVID19/notebooks'

In [191]:
!git add ../data/latest_data/PA_DOC_dashboard_latest.csv ../data/latest_data/PA_DOC_dashboard_cases.csv

In [192]:
!git commit -m 'latest dashboard data'
!git push

[main 99fd2a9] latest dashboard data
 2 files changed, 105 insertions(+), 30 deletions(-)
 rewrite data/latest_data/PA_DOC_dashboard_latest.csv (87%)
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 1.56 KiB | 798.00 KiB/s, done.
Total 6 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), completed with 4 local objects.
To github.com:jmparelman/PA-SCI_COVID19.git
   0ce7eb2..99fd2a9  main -> main

In [174]:
latest_df.tail()

,SCI,population,ip_active_cases,ip_cases,ip_deaths,staff_active_cases,staff_cases
20,Retreat,0,0,8,0,0,4
21,Rockview,1501,0,132,2,5,274
22,Smithfield,1105,12,1034,6,1,219
23,Somerset,1936,0,627,4,5,224
24,Waymart,740,0,845,16,4,265